    .body {
        background-image: url("bg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .buttons>* {
        border-radius: 8px;
    }

    .buttons>*:hover {
        cursor: pointer;
        background-color: #f1ecaa;
    }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
